

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
  }
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 80vh;
   /* background-color: rgb(184, 25, 25);*/
    z-index: -8;
    box-shadow: 0px 10px 50px 0.8px rgb(243, 233, 220);
    display: flex;
    justify-content: center;
    border-radius: 50px;

}
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
.left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 108%;
    height: 100%;
    background: rgba(188, 151, 125, 1);
    z-index: -1;
    /* clip-path: polygon(0 0, 100% 0, 20% 100%, 0 100% );  */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}

.image{
    width: 37.7vw;
    position: relative;
    right: 5%;
    z-index: -1;
}


.image2{
    width: 320px;
    position: relative;
    z-index: 8;
}

.text{
    position: absolute;
    top: 27%;
    left: 25%;
}

.text h1{
    font-size: 32px;
    color: #ba4d0e;
}

.text p{
    position: relative;
    left: 17%;
    color: whitesmoke;
    bottom: 2%;
    font-size: 20px;
    /* font-style: italic; */
}

.rigth{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 5%;
}
.rigth form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    /* left: 15%; */
}
.mot{
    font-size: 18px;
    /*margin-bottom: 35px;*/
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition: .3s;
}
.mot:hover{
    color: #18626e;
}

h2{
    font-size: 70px;
    font-weight: normal;
    margin: 0;
    color: #0A3A41;
}
.desc{
    font-size: 24px;
    color: #8e8e8e;
    margin: 0;
}
label{
    font-size: 20px;
    margin-bottom: 9px;
}
input{
    width: 19vw;
    height: 6vh;
    border: 2px solid #0A3A41;
    border-radius: 50px;
    margin-bottom: 15px;

    color: #06262b;
    font-size: 18px;
    padding: 0 15px;
}
input:focus{
    outline: none;
}


.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* position: relative; */
    /* top: 20px; */
}

.btn-major, .btn-minor{
    /* position: relative; */
    /* right: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 8vh;
    background-color: #0A3A41;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    padding: 10px;
}
.btn-major a, .btn-minor a{
    text-decoration: none;
    color: white;
}
.btn-major:hover{
    background-color: #18626e;
}
/* .btn-minor{
    position: relative;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 15vw;
    height: 5vh;
    border: 2px solid #0A3A41;
    border-radius: 40px;
    font-size: 16px;
    color: #0A3A41;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
} */
.btn-minor:hover{
    transition: 0.5s;
    background-color:  #0A3A41;
    color: white;
}

/**

/